@import "./navigation";

.header__bg {
    position: absolute;
    right: 2px;
    padding-top: 8rem;
    padding-bottom: 8rem;
    top: 30px;
    z-index: 0;

}

.header__img {
    width: 95%;

}

.main-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    z-index: 1;
}

.heading {

    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;

}

.main-content__heading {
    width: 45rem;
    padding-top: 4rem;

}

.main-content__sub-heading {
    width: 28rem;
    font-size: 24px;
    line-height: 34px;
    padding-top: 3rem;
    color: #2B292D;
}

.main-content__button-group {
    display: flex;
    justify-content: space-between;
    width: 21rem;
    padding-top: 3rem;
}

.button--white {
    width: 160px;
    height: 48px;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.05) 0%,
            rgba(255, 255, 255, 1e-05) 100%),
        #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05),
        0px 1px 3px rgba(0, 0, 0, 0.1),
        inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}

.button__text--blue {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 13px;
    color: #3040C4;
}