.leads-customers {
    padding-bottom: 8rem;
}

.text-block__heading {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    width: 35rem;

}

.text-block__text {
    font-size: 24px;
    line-height: 34px;
    padding-top: 2rem;
    width: 30rem;
}

.text-block__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-between;

}

.secondary-heading {
    font-size: 22px;
    line-height: 34px;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 2rem;
    padding-left: 4px;
}

.leads-customers {
    position: relative;
    overflow: hidden;
}

.screen-block {
    position: absolute;
    right: 0;
    top: 20px;
}

.screen-block__img {
    width: 45rem;

}

.reveal-block {
    width: 100%;
}

.reveal-block__item {
    width: 29rem;
    border-bottom: 1px solid rgba(43, 41, 45, 0.15);
}


.reveal-block__heading {
    width: 28rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2rem;

}

.reveal-block__text {
    opacity: 0;
    max-height: 0;
    width: 28rem;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.reveal-block__link {
    padding-left: 1rem;
    font-size: 22px;
    line-height: 26px;
    color: #2B292D;

}


.reveal-block__heading:hover .reveal-block__link {
    color: #3142C6;

}

.reveal-block__heading:hover .reveal-block__icon {
    fill: #3142C6;

}







.aside {
    position: absolute;
    left: -20px;
    top: 220px;
}

.reveal-block__text {
    transition: all 0.2s ease 0.1s;
}


.active {
    opacity: 1;
    max-height: 100%;
}