.logos {
    background-color: #FFFFFF;
}

.logo-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 8rem;
}