block audience
section.audience
    .container
        .audience__main
            .text-block__main
                h4.secondary-heading.align-center Engage Visitors
                h1.text-block__heading.text--bold Understand your audience
                p.text-block__text.audience__paragraph Early stage company? Eligible applicants get all of our products for just $49 a month.
                .main-content__button-group.align-center 
                    button.button--blue
                        p.button__text--white Get Started
                    button.button--white
                        p.button__text--blue Learn More
