block header
header.header 
    .container 
        nav.navigation
            .navigation__brand
                .logo
                    .logo__wrapper
                        img.logo__icon(src="./img/logo.svg")
                    .logo__text
                        p.text__name.text--bold Bombation
                        p.text--regular Startup gambling template
            .navigation__menu
                a(href="#").text--bold.link Home
                a(href="#").link Stories
                a(href="#").link Library
            .navigation-button
                button.button--blue
                    p.button__text--white Get Started
        .main-content
            .main-content__heading
                h1.heading Build stunning websites & apps.
            .main-content__sub-heading
                p.text Create live segments and target the right people for messages based on their behaviors.
            .main-content__button-group
                button.button--blue
                    p.button__text--white Get Started
                button.button--white
                    p.button__text--blue Learn More
    .header__bg
        img.header__img(src='./img/header-img.png')