block logos
    section.logos
        .container
            .logo-group
                span
                    img(src='./img/logos/nyt.png').logo-group__img
                span
                    img(src='./img/logos/forbes.png').logo-group__img
                span
                    img(src='./img/logos/apple.png').logo-group__img
                span
                    img(src='./img/logos/mashable.png').logo-group__img
                span
                    img(src='./img/logos/wsj.png').logo-group__img
                span
                    img(src='./img/logos/google.png').logo-group__img

