block team
section.team
    .container
        .team__main
            .text-block__main
                h4.secondary-heading.text--blue Communicate Better
                h1.text-block__heading.text--bold.team__heading Built for busy small teams
                p.text-block__text Send Three products that can be used independently or combined together for your company’s needs.
                button.button--blue.text-block__button
                    p.button__text--white Get Started
            .img-block
                img.img-block__img(src="./img/hand.png", alt="image")
                p.img-block__text A better way to acquire new users
            .details-block
                .text-with-link
                    .text-with-link__paragraph #[b Subscriptions.] Foundation works with the tools and services you already use every day.
                    a.text-with-link__link(href='#') Learn more about subscriptions
                .text-with-link
                    .text-with-link__paragraph #[b Felxible Hours.] Get started with our simple snippet of JavaScript or easy to install SDKs for iOS and Android.
                    a.text-with-link__link(href='#') Get more info about hours
                .text-with-link
                    .text-with-link__paragraph #[b Fast Communication.] We offer measures like 2FA and SSO to ensure the safety of your data.
                    a.text-with-link__link(href='#') Communication guidelines
