block team-inbox
section.team-inbox
    .container
        .team-inbox__main
            .img-block
                img.img-block__img(src="./img/roll.png", alt="image")
                p.img-block__text Connect with customers and grow faster
            .text-block    
                .text-block__main.indent
                    h4.secondary-heading.text--orange Team Inbox
                    h1.text-block__heading.text--bold Manage conversations
                    p.text-block__text One place to manage and respond to all conversations with leads and users. Receive messages from leads.
                .card
                    p.card__text “Great widgets. Great selection. Great design and easy to implement. Definitely a huge time saver for a web developer!”
                    .profile
                        span
                            img.profile__img(src="./img/profile-img.png", alt="profile image")
                        .profile__text
                            b.text__name Viella Malkovich
                            p.text__carreer Creative Director at Johnson