block what
    section.what
        .container
            .info
                .info__container
                    h2.info__heading.text--bold What is it about?
                    p.info__text Building a website for a startup that looks amazing is not a rocket science anymore.
                .info__container
                    h2.info__heading.text--bold What is it about?
                    p.info__text Startups, small companies and teams, entrepreneurs and web developers.
