<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap" rel="stylesheet")
        title Foundation
    body
        .page
            include ./pug/header
            include ./pug/what-is-it
            include ./pug/logos
            include ./pug/leads
            include ./pug/team-inbox
            include ./pug/team
            include ./pug/audience
        script(src="./js/main.js")